.btn {

    &,
    &::after,
    &::before {

        @include flexbox(center);
        justify-content: space-around;

        text-decoration: none;
        color: $white;
        text-transform: capitalize;
        transition: all .2s;
        border: none;
    }

    &__primary {
        width: 20rem;
        padding: 1.19rem 0;
        border-radius: 10rem;
        margin-left: -6rem;
        box-shadow: 0 2rem 4rem rgba($dark , .6);
        background-image: linear-gradient(to right,
        $color-primary,
        $color-primary-light);
        z-index: 2;

        &:hover {
            transform: translateX(-1.5rem);
            background-image: linear-gradient(to left,
                $color-primary,
                $color-primary-light);
        }

        &:active {
            transform: translateX(-1rem);
        }
        @include respond(phone) {
            width: 15rem;
        }
    }


    &__secondary{
        color: $dark;
        font-size: 1.2rem;
        width: 8rem;
        height: 3rem;
        border-radius: 5rem;
        box-shadow: 0 2rem 4rem rgba($dark, .6);
        background-color: rgba($color-primary, .5);
        transition: all .3s;

        &:hover{
            background-color: $color-primary;
            transform: translateY(-.5rem);
        }

    }

    &-icon {
        width: 5rem;
        height: 3rem;
        display: inline-block;
        fill: $white;
    }

}