.card {
    &__list {
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            flex-direction: row;
            flex-wrap: wrap;

            .card__item {
                width: 20%;
            }
        }

        &--bookmark {
            flex-direction: column;
            .card__item {
                width: 100%;
            }
        }

    }

    &__item {
        @include flexbox(center);
        justify-content: space-around;

        padding: 1rem .5rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: rgba($light-pink, .2);
            transform: translateY(-1rem);
        }

        @include respond(tab-port) {
            flex-direction: column;
            text-align: center;
            padding: .5rem .8rem;
        }


    }

    &__img-box {
        @include flexbox(center);

        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $white;

        @include respond(tab-port) {
            margin-bottom: .5rem;
        }

    }

    &__photo {
        height: 100%;
        object-fit: cover;
    }
}