.form {

    &-group {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    &-input {
        border: 0;
        outline: 0;
        padding: 1.45rem;
        padding-right: 12rem;
        padding-left: 1rem;
        font-family: inherit;
        font-size: inherit;
        border-radius: 10rem;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .3);

        transition: all .3s;

        &:focus {
            outline: 0;
            box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .7);
            padding-right: 15;
            transform: translateX(-2rem);
        }
    }
}