.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    background-color: #f1f1f1;


    &__header {
        height: 50vh;
        position: relative;

    }

    &__photo-box {
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40vh);
        background-color: $color-primary;
    }

    &__photo {
        width: 100%;
        object-fit: cover;
        opacity: .5;
    }

    &__title {
        font-size: 2.8rem;
        font-weight: 300;
        width: 45%;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;


        &--text {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;

            background-image: linear-gradient(to right,
                    rgba($color-primary-light, .85),
                    rgba($color-primary-dark, .85));

        }
    }


    &__info {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        color: #000;
        background-color: rgba(#fff, .4);
        border-top: 2px solid #fff;


        & > * {
            display: flex;
            align-items: center;
        }

        &--timing {}

        &--icon {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            fill: #000;

            &:last-child {
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    fill: red;
                }
            }

            &-active {
                fill: red !important;
            }
        }

        &--title {}

        &--serving {}

        &--like {}
    }


    .ingredient{


        &__list{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 1rem;
        }

        &__item{
            width: 45%;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__icon{
            width: 2rem;
            height: 2rem;
            fill: $color-primary;
        }

        &__title{
            margin-left: .5rem;
        }
    }


}