.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    border: 1px solid #fff;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__list {
        display: flex;
        flex-direction: column;

    }

    &__item {
        padding:1rem .5rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: all .2s;

        display: flex;
        justify-content: space-around;
        align-items: center;

        &:hover{
            background-color: rgba($light-pink, .2);
            transform: translateY(-1rem);
        }
    }


    &__img-box {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;

        display: flex;
        align-items: center;
    }

    &__photo {
        height: 100%;
        object-fit: cover;
    }

    &__info {
    }

    &__pagination{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;        

        &--icon{
            width: 1rem;
        }
    }
}