.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    @include respond(tab-port) {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
    }

    border: 1px solid $white;
    background-color: $white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;




    &__pagination {

        @include flexbox(center);
        justify-content: space-around;
        padding: 1rem 0;

        @include respond(tab-port) {
        justify-content: space-between;
        padding: 1rem;

        }

        &--icon {
            width: 1rem;
        }
    }
}